<div id="imagenes">
	<ul id="fila">
		<li><a href="#"><img src="/assets/mensaje.png"></a></li>
		<li><a href="#"><img src="/assets/comedor.jpg"></a></li>
		<li><a href="#"><img src="/assets/cristo.jpg"></a></li>
		<li><a href="#"><img src="/assets/reserva.jpg"></a></li>
	</ul>
</div>